{% extends 'nav.html' %}

{% block video_view %}

<div class="vv_container" style="
    max-width: 650px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(33, 33, 59);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
    <h1 class="vv_h1" style="font-size: 28px; margin-bottom: 10px; color: rgb(255, 255, 211)">
        {{ varv.title }}
    </h1>
    <video controls class="vv_video" style="
      width: 100%;
      max-height: 400px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    ">
        <source src="{{ varv.video_field.url }}" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
    <h3 style="color: rgb(255, 255, 211)">Description :</h3>
    <p class="vv_p" style="color: #ffa500; font-size: 16px; line-height: 1.6; margin-bottom: 10px">
        {{ varv.video_desc }}
    </p>
    <p class="vv_p" style="font-size: 16px; line-height: 1.6; margin-bottom: 10px; color: rgb(255, 255, 211)">
        Release Year: {{ varv.released_year }}
    </p>
    <p class="vv_p" style="color: rgb(255, 255, 211); font-size: 16px; line-height: 1.6; margin-bottom: 10px">
        Ratings:<span class="rating" style="color: #ffa500; font-weight: bold">{{ varv.ratings }}</span>
    </p>
</div>

{% endblock video_view %}